{
    "presets": [
        [
            "@babel/preset-env",
            {
                "shippedProposals": true,
                "targets": {
                    "electron": "42"
                },
                "loose": true
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-external-helpers"
    ]
}